@model Cidean.GatherHub.Core.Models.Course;
@{
    ViewData["Title"] = "Course Details";
}


<div class="row img-rounded" style="background-color:#d1dee8; padding:20px;">
    <div class="col-md-5 img-rounded" style="background: url(@Model.ImageUrl); width:400px; height:400px;">
        
    </div>
    <div class="col-md-7">
        <h1>@Model.Title</h1>
        <h4>Date(s): 1/1/19 - 1/15/19</h4>
        <h4>Times: MWF 1pm - 2pm</h4>
        <div class="row"><div class="col-md-12"><h4>Location:<br />@Model.Location</h4></div></div>
        <div class="row"><div class="col-md-12"><h4>Category:<br />@Model.Category.Title</h4></div></div>
        <a asp-controller="register" asp-action="course" asp-route-id="@Model.Id" class="btn btn-success btn-lg">Register</a>


    </div>

</div>
<div class="row">
    <div class="col-md-12">
        @Html.Raw(Model.Description)

        <p>
            <strong>Instructor:</strong> @Model.Instructor.FullName
        </p>
    </div>
</div>