@model IEnumerable<Cidean.GatherHub.Core.Models.Course>
@{
    ViewData["Title"] = "Home Page";
}

<div id="home-banner">
    
</div>

<div class="row">
    <div class="col-md-12">
        <h2>FEATURED COURSES</h2>
        <div class="row">
            @foreach (var course in Model)
            {
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">@course.Title </h3>
                        </div>
                        <div class="panel-body course-panel">
                            @course.ShortDescription
                            <br /><br />
                            <strong>Location: @course.Location</strong>
                            @course.Instructor.FullName

                            </div>
                        <div class="panel-footer">
                            <a class="btn btn-primary" asp-controller="home" asp-action="course" asp-route-id="@course.Id">Register</a>
                            <span class="label label-success">@course.Category.Title</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
