@model IEnumerable<Cidean.GatherHub.Core.Models.Course>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    Welcome
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Courses</h2>
        <div>
            @foreach (var course in Model)
            {
                
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@course.Title (@course.Category.Title)</h3>
                </div>
                <div class="panel-body">
                    @course.Description
                    <br /><br />
                    <strong>Location: @course.Location</strong>
                    @course.Instructor.FullName

                    <button class="btn btn-primary">Sign-up</button>
                </div>
            </div>
            }
        </div>
    </div>
</div>
